<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <!--    <welcome-file-list>
        <welcome-file>homepage</welcome-file>
    </welcome-file-list>  -->
    <servlet>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <servlet-class>controller.client.VerifyEmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <url-pattern>/login/verify</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AssignAccount</servlet-name>
        <servlet-class>controller.admin.OrderFeatures.AssignAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusOrderServlet</servlet-name>
        <servlet-class>controller.admin.OrderFeatures.ChangeStatusOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderServlet</servlet-name>
        <servlet-class>controller.admin.OrderFeatures.ListOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailOrderServlet</servlet-name>
        <servlet-class>controller.admin.OrderFeatures.DetailOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssignAccount</servlet-name>
        <url-pattern>/order/assign-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusOrderServlet</servlet-name>
        <url-pattern>/admin/orders/order/change-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderServlet</servlet-name>
        <url-pattern>/admin/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailOrderServlet</servlet-name>
        <url-pattern>/admin/orders/order</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>shoesshop.isp@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>egdi ikkc cahh jkkd</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>EmailForm.jsp</welcome-file>
    </welcome-file-list>
</web-app>
